[Unit]
Description=ZusAPI service

[Service]
Environment="PATH=/home/ubuntu/bin:/home/ubuntu/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/ubuntu/zusapi/startApi.sh
PIDFile=/tmp/zusapi.pid
User=ubuntu
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
